/* Colors */
:root {
  --color-primary: #2196f3;
  --color-secondary: #01579b;
  --color-neon: #18ffff;
  --color-text: #fafafa;
  --color-background: #212121;
  --color-card: #263238;
  --color-highlight: #607d8b;
  --color-beginner: #f9a825;
  --color-intermediate: #689f38;
  --color-advanced: #7e57c2;
  --color-expert: #ec407a;
  --gradient-fade-blue-fade-horizontal: linear-gradient(
    to right,
    transparent,
    var(--color-primary) 25%,
    var(--color-primary) 75%,
    transparent
  );
  --gradient-fade-blue-fade-vertical: linear-gradient(
    180deg,
    transparent,
    var(--color-primary) 25%,
    var(--color-primary) 75%,
    transparent
  );
  --gradient-fade-neon-fade-vertical: linear-gradient(
    180deg,
    transparent,
    var(--color-neon) 25%,
    var(--color-neon) 75%,
    transparent
  );
  --gradient-neon-blue-fade-horizontal: linear-gradient(
    to right,
    var(--color-neon) 0%,
    var(--color-primary) 50%,
    transparent 100%
  );
  --gradient-blue-fade-horizontal: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-primary) 75%,
    transparent 100%
  );
}

/* Typography */
:root {
  --font-family: 'JetBrains Mono';
  --text-display: 800 48px var(--font-family);
  --text-header-bold: 700 32px var(--font-family);
  --text-header: 400 32px var(--font-family);
  --text-title-bold: 700 24px var(--font-family);
  --text-title: 400 24px var(--font-family);
  --text-subtitle-bold: 700 20px var(--font-family);
  --text-subtitle: 300 20px var(--font-family);
  --text-label-bold: 700 16px var(--font-family);
  --text-label: 400 16px var(--font-family);
  --text-description: 100 16px var(--font-family);
  --text-mini: 400 12px var(--font-family);
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: var(--color-card);
  border-radius: 90px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 90px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
